<!DOCTYPE html>
{% load blog_tags %}
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="{% static 'css/blog.css' %}" rel="stylesheet"> -->
</head>
<body>
    <h1 id="head">
        {% block head %}{% endblock %}
    </h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
        <h2>Мій блог</h2>
        <p>Це мій блог.<br>
        Я вже написав {% total_posts %} статей.
        </p>
    </div>

    <h3>Останні пости</h3>
    {% show_latest_posts 3 %}

</body>
</html>
